# Web framework
fastapi==0.115.12
uvicorn==0.34.2

# Database
SQLAlchemy==2.0.40
PyMySQL==1.1.1

# Env and security
python-dotenv==1.1.1
passlib[bcrypt]

# HTTP requests
requests==2.32.3

# GPT integration
openai==1.78.0

